process {

    errorStrategy = 'terminate'

    withName: mmseqs_easy_taxonomy {
        container = 'metashot/mmseqs2:13-1'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(16.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }

    withName: pseudochrom {
        container = 'metashot/utils:1.1.0-2'
        cpus = check_max(2, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }
}
