process {

    errorStrategy = 'terminate'

    withName: busco {
        container = 'metashot/busco:4.1.4-3'   
        cpus = check_max(4, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: statswrapper {
        container = 'metashot/bbtools:38.79-2'
        cpus = check_max(2, params.max_cpus)
        memory = check_max(2.GB, params.max_memory)
        time = params.max_time
    }

    withName: 'drep_with_genomeinfo|drep_wihout_genomeinfo' {
        container = 'metashot/drep:2.6.2-2'
        cpus = check_max(8, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'format_genome_info|genome_filter|format_mmseqs_lca|derep_info' {
        container = 'metashot/utils:1.1.0-2'
        cpus = check_max(2, params.max_cpus)
        memory = { check_max(4.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: mmseqs_db_download {
        container = 'metashot/mmseqs2:13-1'   
        cpus = check_max(2, params.max_cpus)
        memory = check_max(4.GB, params.max_memory)
        time = params.max_time
    }

    withName: mmseqs_easy_taxonomy {
        container = 'metashot/mmseqs2:13-1'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(16.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }

    withName: metaeuk_easy_predict {
        container = 'metashot/metaeuk:5-1'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(16.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }

    withName: pseudochr {
        container = 'metashot/utils:1.1.0-2'
        cpus = check_max(2, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }

    withName: eggnog_db_download {
        container = 'metashot/eggnog-mapper:2.1.5-1'   
        cpus = check_max(2, params.max_cpus)
        memory = check_max(4.GB, params.max_memory)
        time = params.max_time
    }

    withName: eggnog_mapper {
        container = 'metashot/eggnog-mapper:2.1.5-1'
        cpus = check_max(6, params.max_cpus)
        
        if( params.eggnog_db_mem ) {
            memory = { check_max(48.GB * task.attempt, params.max_memory) }
        }
        else {
            memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
            errorStrategy = 'retry'
            
        }

        maxRetries = 3
        time = params.max_time
    }

    withName: 'merge_eggnog_mapper' {
        container = 'metashot/utils:1.1.0-2'   
        cpus = check_max(2, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }
}
